<mat-card appearance="outlined">
	<mat-card-header>
		<div [ngClass]="{ 'status-retirado': itemData.status === 'Retirado', 'status-aguardando-retirada': itemData.status === 'Aguardando retirada' }">
			<h4>{{ itemData.status }}</h4>
		</div>
	</mat-card-header>

	<h1>{{ itemData.name }}</h1>

	<div id="item-picture">
		<img mat-card-image [src]="itemData.picture" alt="Item photo">
		
	</div>

	<mat-card-footer>
		<span>Encontrado em: <b>{{ itemData.findAt }}</b></span>
		<span>{{ itemData.date | date:"dd/MM/YYYY" }}</span>
		@if (itemData.status === 'Retirado') {
			<button mat-flat-button class='contestar' (click)="aguardar()">Contestar</button>
		}@else{
			<button mat-flat-button class='retirar' (click)="retirar()">Retirar</button>

		}
		
	</mat-card-footer>
</mat-card>