button.primary {
	// text color
	--mdc-filled-button-label-text-color: #ffffff;
	// background color
	--mdc-filled-button-container-color: #82BC7F;
}

button.cancel {
	// text color
	--mdc-filled-button-label-text-color: #ffffff;
	// background color
	--mdc-filled-button-container-color: #BA5E5E;
}